{% extends 'new_Baseview.html.twig' %}

{% block title %}WUSN Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://code.highcharts.com/highcharts.js"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ asset('JS/Graphs.js') }}"></script>
    <script>
        $(function(){

//            console.log(dataAPICall());

            setInterval(dataAPICall, 10000);

            function dataAPICall() {
                dashboardCharts("{{ path('get_data') }}");
            }

        });

    </script>
{% endblock %}

{% block inner_body %}
        <!-- Content Header (Page header) -->
    <div class="container">
        <section class="content-header">
            <h1>
                Data Tables
                <small>advanced tables</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Devices Data Table</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr class="table-heads ">

                                <th class="head-item mbr-fonts-style display-7" style="text-align: center">
                                Aboveground Node</th><th class="head-item mbr-fonts-style display-7" style="text-align: center">
                                Underground Node</th><th class="head-item mbr-fonts-style display-7" style="text-align: center">
                                Temperature(Celcius)</th><th class="head-item mbr-fonts-style display-7" style="text-align: center">
                                VWC</th><th class="head-item mbr-fonts-style display-7" style="text-align: center">
                                RSSI(dB)</th><th class="head-item mbr-fonts-style display-7" style="text-align: center">
                                LQI</th>
                                </tr>

                                </thead>
                                <tbody>

                                {% if arr is empty %}
                                    <tr>
                                        <td colspan="6" >No Results found</td>
                                    </tr>
                                {% else %}
                                    {% for record in arr %}
                                        {% set span_val=[record.temperatureData|length]|join %}
                                        {% set span_val2=[(record.temperatureData|length)+1]|join %}
                                        {% set span_val3=[(record.temperatureData|length)+2]|join %}
                                        <tr class="table-row" rowspan={{ span_val2 }} >
                                            <td rowspan={{ span_val3 }}: style="text-align: center">{{ record.aboveGroundNodeId}}</td>
                                        </tr>
                                        <tr rowspan={{ span_val2}}>
                                            <td rowspan={{ span_val2}}: style="text-align: center">{{ record.underGroundNodeId }}</td>
                                        </tr>
                                        {% for i in range(0,(record.temperatureData|length)-1)  %}
                                            {#{{ dump(record.temperatureData[i]) }}#}
                                            <tr rowspan="4">
                                                <td style="text-align: center">{{ record.temperatureData[i]}}</td>
                                                <td style="text-align: center">{{ record.vwcData[i] }}</td>
                                                <td style="text-align: center">{{ record.rssiData[i] }}</td>
                                                <td style="text-align: center">{{ record.lqiData[i] }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}
