{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href={{ asset("bootstrap/css/bootstrap.min.css") }}>#}

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {#<script src={{ asset("bootstrap/js/bootstrap.min.js") }}></script>#}
{% endblock %}

{% block body %}

    <section class="menu cid-qFJL5628g8" once="menu" id="menu2-3">

        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">

            <div class="menu-logo">
                <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.com">
                        <img src={{ asset("assets/images/WUSN.png") }} alt="Mobirise" style="height: 3.8rem;">
                    </a>
                </span>

                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="https://mobirise.com">
                            Configure a Devices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" href="{{ path('logout')}}">
                            <span class="glyphicon glyphicon-off"></span>Log Out
                        </a>
                    </li>
                </ul>

            </div>
            </div>
        </nav>
    </section>
    <section>
        <div class="container col-md-12" style="margin-top: 10px">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
        </div>
    </section>


{% endblock %}